.h2o-info-section {
  &__box {
    display: flex;
    grid-gap: clamp(10px, 2.1882vw, 20px);
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}
