.h2o-header {
  background: rgba(var(--bg-b), 1);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;

  @include ios{
    flex-direction: column;
    grid-gap: 10px;
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    @include ios{
      width: 100%;
    }
  }

  .h2o-green-button {
    width: 180px;
    height: 40px;
    font-family: var(--font-family3);
    i {
      margin-top: -2px;
    }

    @include mobile{
      padding: 5px 5px;
      width: fit-content;
      grid-gap: 4px;
      .h2o-icon-reg{
        width: 20px;
        height: 24px;
      }
    }

    @include ios{
      width: 100%;
    }
  }

  .h2o-blue-button {
    width: 119px;
    height: 40px;
    font-family: var(--font-family3);

    @include mobile{
      padding: 5px 5px;
      width: fit-content;
      grid-gap: 1px;
      .h2o-icon-exit{
        width: 23px;
        height: 20px;
      }
    }
    @include ios{
      width: 100%;
    }
  }
}

.h2o-logo {
  width: clamp(130px, 29.8687vw, 273px);
  height: clamp(36px, 7.9869vw, 73px);
  // width: Min(29.8687vw, 273px);
  // height: Min(7.9869vw, 73px);

  img,
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @include ios{
    width: 160px;
    height: 45px;
  }
}
