<footer>
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-footer">
    
      <ul class="h2o-footer-payments">
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-visa">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-visa">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-mc">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-btc">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-netell">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-master">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-pay">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-skrill">
          </span>
        </li>
        <li class="h2o-footer-payments__item">
          <span class="h2o-footer-payments__icon h2o-icon-azino">
          </span>
        </li>
      </ul>

      <ul class="h2o-footer-info">
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-18plus"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-egba"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-essa"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-cogra"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-gam"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-cost"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-winn"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-innowation"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-igaming"></span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-ncpg"></span>
        </li>
      </ul>
    </div>
  </div>
</footer>

