<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Glassupply markup dev">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azino</title>

    <link rel="preload" href="fonts/arial-regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/arial-bold.woff" as="font" crossorigin="anonymous">
  
    <link rel="preload" href="fonts/Roboto-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/HelveticaNeueCyr-Bold.woff" as="font" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/style.css">
</head>

