<header>
  <div class="h2o-container">
    <div class="h2o-header">

      <a href="#" class="h2o-logo">
        <picture>
          <source type='image/webp' srcset='img/index/logo.webp'>
          <img width='273' height='73' src='img/index/logo.png' alt='image'>
        </picture>
      </a>
      <div class="h2o-header__btns">
        <button class="h2o-collect h2o-green-button">
          Регистрация <i class="h2o-icon-reg"></i></button>
        <button class="h2o-collect h2o-blue-button">
          Войти <i class="h2o-icon-exit"></i></button>
      </div>
    </div>
  </div>
</header>