.h2o-bonus-card{
    padding: clamp(20px, 3.2823vw, 30px) 0;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-gap: 16px 30px;

    @include small-tablet{
        grid-template-columns: 1fr;
    }

    &__image{
        grid-row: 1/ span 3;
        grid-column: 1;

        @include small-tablet{
            grid-row: initial;
            justify-self: center;
        }

        @include mobile{
            width: 100%;
            img,picture{
                width: 100%;
            }
        }
    }

    &__title{
        color: rgba(var(--cl-a),1.0);
        font-size: clamp(18px, 2.2976vw, 21px);
        line-height: 100%; 
        font-weight: bold;
        font-family: var(--font-family);
        text-align: center;

        @include small-tablet{
            grid-row: 1/-1;
        }
    }

    p{
        color: rgba(var(--cl-a),1.0);
        font-size: clamp(14px, 1.6411vw, 15px);
        font-weight: 400;
        line-height: 120%; 
        font-family: var(--font-family2);

        @include small-tablet{
            text-align: center;
        }
    }

    &__button{
        justify-self: end;

        @include small-tablet{
            justify-self: center;
        }
    }

    &--mode{
        padding-top: 0;
        grid-template-columns: 45% 1fr auto;

        @include small-tablet{
            grid-template-columns: repeat(2, 1fr);
        }

        .h2o-bonus-card{
            &__title{
                grid-column: 2 / span 2;

                @include small-tablet{
                    grid-column: 1 / span 2;
                }
            }

            &__image{
                @include small-tablet{
                    grid-column: 1 / span 2;
                }
            }

            &__button{
                @include mobile{
                    width: 100%;
                    
                }
            }
        }
        p{
            grid-column: 2 / span 2;

            @include small-tablet{
                grid-column: 1 / span 2;
            }
        }

        .h2o-orange-button{
            margin-right: -14px;

            @include small-tablet{
                justify-self: end;
            }
        }

        .h2o-grey-button{
            @include small-tablet{
                justify-self: start;
            }
        }
    }
}