.h2o-contact-list{
    display: flex;
    flex-direction: column;


    &__name{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.6411vw, 15px);
        line-height: 120%;
    }

    &__text{
        color: rgba(var(--cl-l),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.6411vw, 15px);
        line-height: 120%;
    }
}