.h2o-footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: clamp(15px, 2.407vw, 22px);
    overflow: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    &__item{
        display: flex;
    }
}