.h2o-promo-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: clamp(15px, 2.1882vw, 20px);
    width: 100%;
    padding-bottom: clamp(20px, 6.5646vw, 60px);
    
    @include small-tablet{
        grid-template-columns: 1fr;
    }
}