.h2o-main-slider{
        width: 100%;

        @include small-tablet{
            margin-left: calc(var(--container-offset) * -1);
            width: calc(100% + (var(--container-offset) * 2));
        }

    &__box{
        padding: clamp(20px, 3.6105vw, 33px) clamp(15px, 3.6105vw, 33px) 20px;
        display: flex;
        justify-content: space-between;
        grid-gap: 25px;
        align-items: center;
        height: 100%;

        &--mode{
            align-items: flex-start;

            .h2o-main-slider__inner{
                justify-content: space-between;
            }

            @include mobile{
                align-items: center;
            }
        }

       
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        height: 100%;
        justify-content: flex-end;
 

        @include small-tablet{
            height: fit-content;
        }
    }

    &__subtitle{
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(16px, 3.5011vw, 32px);
        font-style: italic;
        font-weight: 700;
        text-align: center!important;
        text-shadow: 1px 1px 10px #000, 1px -1px 10px #000, -1px 1px 10px #000, -1px -1px 10px #000, -1px -1px 1px hsla(0,0%,100%,.2), 1px 1px 1px hsla(0,0%,100%,.2), -1px 1px 1px hsla(0,0%,100%,.2), 1px -1px 1px hsla(0,0%,100%,.2);

        b{
            font-size: clamp(32px, 9.1904vw, 84px);
        }

        span{

            i{
                font-size: clamp(18px, 6.3457vw, 58px);
            }
        }

        &--mode{
            font-size: clamp(16px, 2.1882vw, 20px);
            grid-gap: 5px;
            b{
                padding-bottom: 5px;
                font-size: clamp(20px, 3.9387vw, 36px);
            }

            i{
                font-size: clamp(32px, 5.4705vw, 50px);
            }

            @include mobile{
                grid-gap: 0;
            }
        }

    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(18px, 4.0481vw, 37px);
        font-style: italic;
        font-weight: 700;
        line-height: 120%;
        text-align: center!important;
        text-shadow: 1px 1px 10px #000, 1px -1px 10px #000, -1px 1px 10px #000, -1px -1px 10px #000, -1px -1px 1px hsla(0,0%,100%,.2), 1px 1px 1px hsla(0,0%,100%,.2), -1px 1px 1px hsla(0,0%,100%,.2), 1px -1px 1px hsla(0,0%,100%,.2);
        opacity: 0;
        b{
            font-size: clamp(28px, 4.3764vw, 60px);
        }

        &--mode{
            grid-gap: 5px;
            font-size: clamp(18px, 3.8293vw, 35px);

            b{
                font-size: clamp(26px, 5.4705vw, 50px);  
            }
        }

        &--big{
            font-size: clamp(22px, 3.5011vw, 32px);

            b{
                font-size: clamp(26px, 4.3764vw, 40px);  
            }
        } 
    }
  
    &__slide{
        position: relative;
        height: clamp(230px, 33.2604vw, 304px);

        &.is-active{
            .h2o-main-slider{
            &__title{
                animation: toTop .4s ease-in-out 1s both;
            }

            &__subtitle{
                animation: toTop .4s ease-in-out 1s both;
            }
        }
        }
    }
    &__image{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img,picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--mode{
            width: inherit;
            left: 10px;
        }
    }

    .h2o-green-button{
        min-width: 110px;
        @include small-tablet{
            position: absolute;
            bottom: 20px;
            left: clamp(15px, 3.6105vw, 33px);
            padding: 10px clamp(10px, 2.1882vw, 20px);
            font-size: 14px;
            box-shadow: 0 8px 0 0 #1a2601;
        }
    }
}

.splide__pagination{
    justify-content: flex-end;
    padding-right: 33px;
    &__page{
        background: rgba(var(--bg-f),1.0);
        border-radius: 50%;
        display: flex;
        height: 10px;
        position: relative;
        width: 10px;
        opacity: 1;
        transition: all .2s;
        
    &::before{
        background: rgba(var(--bg-l),1.0);
        border-radius: 50%;
        content: "";
        
      
        position: absolute;
  
        inset: 1px;
        
        transition: all .2s;
        
    }

    &.is-active{
        background: rgba(var(--bg-m),1.0);
        transform: scale(1.3);
        position: relative;
        
        &::before{
            background: linear-gradient(180deg,#ffd000 0,#d87700);    
        }
    }
    }
}



@keyframes toTop {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
  }

 
