.h2o-green-button {
  background: linear-gradient(180deg, #c6e66a 0, #557b01);
  border: 1px solid var(--br-b);
  height: 38px;
  width: 143px;
  border-radius: 5px;
  color: rgba(var(--cl-c), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  font-family: var(--font-family);
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.2),
    0 1px 1px hsla(0, 0%, 100%, 0.4);
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    box-shadow: inset 0 0 10px 2px #e6f1bb;
  }

  &--mode {
    background: linear-gradient(180deg, #c6e66a 9%, #547a01 80%);
    box-shadow: 0 10px 0 0 #1a2601;
    color: #1c1c1c;
    font-size: clamp(16px, 2.6258vw, 24px);
    font-style: italic;
    height: 70px;
    line-height: 98%;
    text-align: center;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.2),
      0 1px 1px hsla(0, 0%, 100%, 0.4);
    width: 300px;

    z-index: 10;
    position: relative;
    overflow: hidden;
    text-transform: none;

    @include small-tablet {
      width: initial;
      height: initial;
      padding: 23px 74px;
    }

    &::before,
    &:after {
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      background: linear-gradient(
        90deg,
        #c6e66a 0,
        #fff 40%,
        #fff 60%,
        #fff 0,
        #c6e66a
      );
      top: 0;
    }

    &:after {
      background: linear-gradient(
        90deg,
        #517c01 0,
        #fff 40%,
        #fff 60%,
        #fff 0,
        #517c01
      );
      bottom: 0;
    }

    &:hover {
      box-shadow: 0 10px 0 0 #1a2601, inset 0 0 20px 2px #e6f1bb;
    }
  }

  &--play {
    background: linear-gradient(180deg, #c1f440 0, #548003);
    border-color: #bdfd00 #000 #466701;
    border-width: 2px 0;
    color: rgba(var(--cl-k), 1);
    font-family: var(--font-family);
    font-size: 14px;
    padding: 10px;
    box-shadow: none;
    width: 150px;

    &:hover {
      box-shadow: none;
      background: linear-gradient(180deg, #bdfd00 0, #73bc00 50%, #256900);
    }
  }
}

.h2o-blue-button {
  background: linear-gradient(180deg, #009cfe 0, #23499a);
  border: 1px solid var(--br-c);
  width: 91px;
  border-radius: 5px;
  color: rgba(var(--cl-c), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  line-height: 40px;
  font-family: var(--font-family);
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.2),
    0 1px 1px hsla(0, 0%, 100%, 0.4);
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover {
    box-shadow: inset 0 0 15px 5px #33bcfe;
  }
}

.h2o-red-button {
  background: linear-gradient(180deg, #c00000 0, #900000 44%, #6e0000);
  border-color: #c00000 #000 #6e0000;
  border-radius: 5px;
  border-style: solid none;
  border-width: 2px 0;
  color: rgba(var(--cl-k),1.0);
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;

  &:hover {
    background: linear-gradient(180deg, #d30505 0, #cd0000);
  }
}

.h2o-yellow-btn {
  background: rgba(var(--bg-d), 1);
  border-radius: 2px;
  color: rgba(var(--cl-b), 1);
  font-weight: 700;
  height: 24px;
  line-height: 27px;
  padding: 5px 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.6), 0 0 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  z-index: 2;
  font-family: var(--font-family);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 5px 1px #f80;
  }
}

.h2o-main-button {
  background: linear-gradient(180deg, #fce70a 9%, #f05b15 80%);
  border-radius: 5px;
  box-shadow: 0 5px 0 0 #792406;
  color: rgba(var(--cl-b), 1);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  width: 227px;
  height: 45px;
  line-height: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.6), 0 0 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: all 0.3s;

  &:before,
  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    content: "";
  }
  &:before {
    background: linear-gradient(90deg, #ffdb00 0, #fff 60%, #fff 0, #ffdb00);
    left: 0;
    top: 0;
  }

  &::after {
    background: linear-gradient(90deg, #f05b15 0, #fff 60%, #fff 0, #f05b15);
    bottom: 0;
    left: 0;
  }

  &:hover {
    box-shadow: 0 5px 0 0 #792406, inset 0 0 10px 5px #ffdb00;
  }
}

.h2o-grey-button {
  background: linear-gradient(180deg, #e8e8e8 0, grey);
  color: rgba(var(--cl-b), 1);
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
  font-family: var(--font-family3);
  height: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 110px;
  transition: all 0.3s;
  position: relative;

  i {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--br-a);
    border-radius: 100%;

    &::before {
      transition: all 0.3s;
      content: "";
      position: absolute;
      border-bottom: 2px solid var(--br-a);
      border-left: 2px solid var(--br-a);
      height: 5px;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%) rotate(-45deg);
      width: 5px;
    }
  }

  &:hover {
    background: linear-gradient(180deg, grey 0, #e8e8e8);
  }
}

.h2o-orange-button {
  background: linear-gradient(180deg, #fce70a 9%, #f05b15 80%);
  color: rgba(var(--cl-b), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  font-family: var(--font-family3);
  height: 36px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  width: 170px;
  transition: all 0.3s;

  &:hover {
    box-shadow: inset 0 0 10px 5px #ffdb00;
  }
}
