.h2o-icon-star {
  background-image: url(../img/sprite/star.svg);
  width: 13px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-star-half {
  background-image: url(../img/sprite/star2.svg);
  width: 13px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-star2 {
  background-image: url(../img/sprite/star-black.svg);
  width: 13px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-star2-half {
  background-image: url(../img/sprite/star-black-half.svg);
  width: 13px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-exit {
  background-image: url(../img/sprite/exit.svg);
  width: 25px;
  height: 28px;
  opacity: .7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-reg {
  background-image: url(../img/sprite/pen.svg);
  width: 25px;
  height: 30px;
  opacity: .7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-18plus {
  background-image: url(../img/sprite/icon1.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-egba {
  background-image: url(../img/sprite/icon2.svg);
  width: 97px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-essa {
  background-image: url(../img/sprite/icon3.svg);
  width: 53px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-cogra {
  background-image: url(../img/sprite/icon4.svg);
  width: 50px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-gam {
  background-image: url(../img/sprite/icon5.svg);
  width: 22px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-cost {
  background-image: url(../img/sprite/icon6.svg);
  width: clamp(44px, 7.0022vw, 64px);
  height: clamp(44px, 7.0022vw, 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-winn {
  background-image: url(../img/sprite/icon7.svg);
  width: clamp(44px, 7.0022vw, 64px);
  height: clamp(44px, 7.0022vw, 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-innowation {
  background-image: url(../img/sprite/icon8.svg);
  width: clamp(130px, 16.4114vw, 150px);
  height: clamp(44px, 7.0022vw, 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-igaming {
  background-image: url(../img/sprite/icon9.svg);
  width: clamp(70px, 9.8468vw, 90px);
  height: clamp(44px, 7.0022vw, 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-ncpg {
  background-image: url(../img/sprite/icon10.svg);
  width: clamp(55px, 8.2057vw, 75px);
  height: clamp(44px, 7.0022vw, 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-pen {
  background-image: url(../img/sprite/pen.svg);
  width: 25px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-exit {
  background-image: url(../img/sprite/exit.svg);
  width: 28px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h2o-icon-visa {
    background-image: url(../img/sprite/visa.svg);
    width: 38px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-mc {
    background-image: url(../img/sprite/mc.svg);
    width: 79px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-btc {
    background-image: url(../img/sprite/btc.svg);
    width: 110px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .h2o-icon-netell {
    background-image: url(../img/sprite/netell.svg);
    width: 110px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-master {
    background-image: url(../img/sprite/mc2.svg);
    width: 40px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-pay {
    background-image: url(../img/sprite/pay.svg);
    width: 110px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-skrill {
    background-image: url(../img/sprite/skrill.svg);
    width: 41px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-azino {
    background-image: url(../img/sprite/azino.svg);
    width: 160px;
    height: 29px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-home {
    background-image: url(../img/sprite/home.svg);
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-slots {
    background-image: url(../img/sprite/slots.svg);
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-bonuses {
    background-image: url(../img/sprite/bonuses.svg);
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-tour {
    background-image: url(../img/sprite/tour.svg);
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-prime {
    background-image: url(../img/sprite/prime.svg);
    width: 21px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .h2o-icon-glow {
    background-image: url(../img/index/btn-bg2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  .h2o-icon-bg {
    background-image: url(../img/index/btn-bg3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 98%;
    width: 99%;
  }