.h2o-stars{
  display: flex;
  align-items: center;
  grid-gap: 4px;

  &__icon{
    display: flex;  
  }
}

.h2o-violet-shadow{
  text-shadow: 1px 1px 10px #7f02ff, 1px -1px 10px #7f02ff, -1px 1px 10px #7f02ff, -1px -1px 10px #7f02ff, -1px -1px 1px hsla(0,0%,100%,.2), 1px 1px 1px hsla(0,0%,100%,.2), -1px 1px 1px hsla(0,0%,100%,.2), 1px -1px 1px hsla(0,0%,100%,.2);
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.h2o-subtitle{
  color: rgba(var(--cl-a),1.0);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  text-align: start;
}

.h2o-lift{
  width: 56px;
  height: 56px;
   display: flex;
    transition: all .5s;    
    bottom: 25px;
    right: 10px;
    opacity: 1;

}

.h2o-price{
  display: inline-flex;
  grid-gap: 10px;
  color: rgba(var(--cl-f),1.0);
  font-family: var(--font-family3);
  font-size: clamp(24px, 3.9387vw, 36px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.h2o-timer{
  display: flex;
  align-items: center;
  grid-gap: 9px;

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background: rgba(var(--bg-g),0.3);
    border: 1px solid var(--br-d);
    border-radius: 6px;    
    height: 54px;
    width: 52px;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.25));
    padding-top: 5px;

    &:not(:last-child){
      &::before{
        content: ":";
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        right: -9px;
        top: 14px;
        color: rgba(var(--cl-a),1.0);
        line-height: normal;
      }
    }

    @include tablet{
      height: 50px;
    width: 48px;
    }
  }

  &__value{
    font-family: var(--font-family3);
    font-size: 29px;
    font-weight: 700;
    color:  rgba(var(--cl-a),1.0);
    line-height: 18px;

    @include tablet{
      font-size: 24px;
    }
  }

  &__text{
    font-family: var(--font-family3);
    font-size: 12px;
    font-weight: 400;
    color:  rgba(var(--cl-a),1.0);
    line-height: 130%;

    
  }
}
