// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #020100;
  --body-font-size: 16px;
  --content-width: 914px;
  --content-width--mode: 980px;

  --content-width--big: 1532px;
  --container-offset: 20px;

  @include small-tablet {
    --container-offset: 15px;
  }

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width--mode: calc(var(--content-width--mode) + (var(--container-offset) * 2));

// --------------- default JS variable ---------------
  // --header-height: 60px;


  --default-size: 40px;
/* width */

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #1397D6;
  // --scrollbar-thumb-hover: #00aff0;
  --scrollbar-track:  rgba(245, 245, 245, 0.28);
  --scrollbar-track-hover: rgba(245, 245, 245, 0.28);
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default slect variable ---------------
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;

// --------------- default font-family variable ---------------
  --font-family: "Arial" , sans-serif; // var(--font-family);
  --font-family2: "Roboto" , sans-serif; // var(--font-family2);
  --font-family3: "HelveticaNeueCyr-Bold" , sans-serif; // var(--font-family3);

// --------------- default text color variable ---------------
  // --burger-color: #{HexToRGB(#00d655)};

  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#1c1c1c)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#a08ec0)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#311c3c)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#fcf600)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#8e9197)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#5b4a7c)}; // rgba(var(--cl-h),1.0);
  --cl-i: #{HexToRGB(#b8d5eb)}; // rgba(var(--cl-i),1.0);
  --cl-j: #{HexToRGB(#532801)}; // rgba(var(--cl-j),1.0);
  --cl-k: #{HexToRGB(#fffdcd)}; // rgba(var(--cl-k),1.0);
  --cl-l: #{HexToRGB(#b777f8)}; // rgba(var(--cl-l),1.0);
  --cl-m: #{HexToRGB(#d46cfe)}; // rgba(var(--cl-m),1.0);


  --cl-n: #{HexToRGB(#0338A5)}; // rgba(var(--cl-n),1.0);
  --cl-o: #{HexToRGB(#0676FF)}; // rgba(var(--cl-o),1.0);
  --cl-p: #{HexToRGB(#1D53E7)}; // rgba(var(--cl-p),1.0);
  --cl-q: #{HexToRGB(#0047FF)}; // rgba(var(--cl-q),1.0);


// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#1D0247)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#f90)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#eadfbd)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#974ad1)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#270f3d)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#bedf63)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#180226)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#100320)}; // rgba(var(--bg-j),1.0);
  --bg-k: #{HexToRGB(#020100)}; // rgba(var(--bg-k),1.0);
  --bg-l: #{HexToRGB(#320253)}; // rgba(var(--bg-l),1.0);
  --bg-m: #{HexToRGB(#fcf600)}; // rgba(var(--bg-m),1.0);


  --bg-n: #{HexToRGB(#ff2d55)}; // rgba(var(--bg-n),1.0);
  --bg-o: #{HexToRGB(#7000ff)}; // rgba(var(--bg-o),1.0);
  --bg-p: #{HexToRGB(#007aff)}; // rgba(var(--bg-p),1.0);
  --bg-q: #{HexToRGB(#918E8E)}; // rgba(var(--bg-q),1.0);
  --bg-r: #{HexToRGB(#08A835)}; // rgba(var(--bg-r),1.0);
  --bg-s: #{HexToRGB(#E5E5EA)}; // rgba(var(--bg-s),1.0);
  --bg-t: #{HexToRGB(#14B641)}; // rgba(var(--bg-t),1.0);
  --bg-u: #{HexToRGB(#F2F2F2)}; // rgba(var(--bg-u),1.0);





// --------------- default border color color variable ---------------
  --br-a: #000000; // var(--br-a);
  --br-b: #79b100; // var(--br-b);
  --br-c: #1999d9; // var(--br-c);
  --br-d: #974ad1; // var(--br-d);
  --br-e: #241334; // var(--br-e);
  --br-f: #5b4a7c; // var(--br-f);
  --br-g: #808080; // var(--br-g);
  --br-h: #e08523; // var(--br-h);

// -------------
}


